* {
  outline: none !important;
  box-shadow: none !important;
}

a {
  text-decoration: none !important;
  color: #64ffda !important;
}

a:hover {
  text-decoration: none !important;
}

@font-face {
  font-family: 'SFMono';
  src: local('SFMono'), url(./fonts/SFMono-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Calibre';
  src: local('SFMono'), url(./fonts/Calibre-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Calibre-Semibold';
  src: local('SFMono'), url(./fonts/Calibre-Semibold.ttf) format('truetype');
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #0a192f !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}