#project-module-container {
    width: 100%;
    display: flex;
}

#featured-project {
    margin-top: 30px;
    display: block;
    font-family: SFMono;
    font-size: 14px;
    color: #64ffda;
}

#project-module-left {
    width: 60%;
    display: grid;
    grid-template-columns: 1fr;
    height: 100%;
}

#project-module-left img {
    width: 100%;
    border-radius: 3px;
}

#project-filter {
    background: rgb(96,227,203,0.2);
    transition: 0.3s;
    border-radius: 3px;
}

img:hover + #project-filter {
    background: transparent;
}

#project-module-left img, #project-filter {
    grid-row-start: 1;
    grid-column-start: 1;
}

#title {
    display: block;
    font-family: Calibre-Semibold;
    color: #e6f1ff;
    font-size: 30px;
}

#project-module-right {
    width: 35%;
    display: inline-block;
    text-align: right;
}

#project-module-right-left {
    width: 35%;
    display: inline-block;
    position: relative;
    text-align: left;
}

#project-languages {
    font-family: SFMono;
    color: #8892b0;
    font-size: 14px;
    display: flex;
    flex-direction: row-reverse;
}

#project-languages-left {
    font-family: SFMono;
    color: #8892b0;
    font-size: 14px;
    display: flex;
    flex-direction: reverse;
}

#project-languages-left p:not(:last-child) {
    margin-right: 10px;
}

#project-languages p {
    margin-right: 10px;
}

#project-summary-right {
    font-family: Calibre;
    color: #ccd6f6;
    font-size: 18px;
    text-align: right !important;
    line-height: 1.2;
    background-color: #112240;
    margin: 20px;
    padding: 20px;
    margin-left: -25%;
    border-radius: 2px;
    margin-bottom: 20px;
    width: 125%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05) !important;
}

#project-summary-left {
    font-family: Calibre;
    color: #ccd6f6;
    font-size: 18px;
    text-align: left !important;
    line-height: 1.2;
    background-color: #112240;
    margin-top: 20px;
    padding: 20px;
    margin-right: -27%;
    border-radius: 2px;
    margin-bottom: 20px;
    width: 125%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05) !important;
}

#project-links-left {
    display: flex;
}

#project-links-right {
    display: flex;
    flex-direction: row-reverse;
}

#project-links-right a:not(:last-child) {
    margin-left: 18px;
}

#project-links-left a, #project-links-right a {
    color: #e6f1ff !important;
    font-size: 20px;
    transition: 0.3s;
}

#project-links-left a:not(:last-child) {
    margin-right: 18px;
}

#project-links-left a:hover, #project-links-right a:hover {
    color: #64ffda !important;
}

#margin {
    margin-bottom: 90px;
}

@media only screen and (max-width: 768px) {
    #project-filter {
        display: none;
    }
}

@media only screen and (max-width: 992px) {
    #project-module-container {
        width: 100% !important;
        flex-direction: column;
    }

    #project-module-left {
        width: 100%;
        margin-bottom: 20px;
    }

    #project-summary-left, #project-summary-right {
        width: 100%;
        margin-left: 0;
    }

    #project-module-right, #project-module-left {
        width: 100%;
    }

    #project-module-right-left {
        width: 100%;
        order: 2;
    }

    #margin {
        margin-bottom: 40px;
    }
}